node_modules/
npm-debug.log*

build/
src/testdata/authV2/circuit_final.zkey
src/testdata/authV2/circuit.wasm
src/testdata/authV2/verification_key.json
src/testdata/authV2/verifier.sol
src/testdata/authV2/authV2_cpp/authV2.cpp
src/testdata/authV2/authV2_cpp/authV2.dat
src/testdata/authV2/authV2_cpp/calcwit.cpp
src/testdata/authV2/authV2_cpp/calcwit.hpp
src/testdata/authV2/authV2_cpp/circom.hpp
src/testdata/authV2/authV2_cpp/fr.asm
src/testdata/authV2/authV2_cpp/fr.cpp
src/testdata/authV2/authV2_cpp/fr.hpp
src/testdata/authV2/authV2_cpp/main.cpp
src/testdata/authV2/authV2_cpp/Makefile
src/testdata/authV2/authV2_js/generate_witness.js
src/testdata/authV2/authV2_js/witness_calculator.js
src/testdata/credentialAtomicQueryMTPV2/circuit_final.zkey
src/testdata/credentialAtomicQueryMTPV2/circuit.wasm
src/testdata/credentialAtomicQueryMTPV2/verification_key.json
src/testdata/credentialAtomicQueryMTPV2/verifier.sol
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/calcwit.cpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/calcwit.hpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/circom.hpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/credentialAtomicQueryMTPV2.cpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/credentialAtomicQueryMTPV2.dat
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/fr.asm
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/fr.cpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/fr.hpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/main.cpp
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_cpp/Makefile
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_js/generate_witness.js
src/testdata/credentialAtomicQueryMTPV2/credentialAtomicQueryMTPV2_js/witness_calculator.js
src/testdata/credentialAtomicQueryMTPV2OnChain/circuit_final.zkey
src/testdata/credentialAtomicQueryMTPV2OnChain/circuit.wasm
src/testdata/credentialAtomicQueryMTPV2OnChain/verification_key.json
src/testdata/credentialAtomicQueryMTPV2OnChain/verifier.sol
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/calcwit.cpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/calcwit.hpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/circom.hpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/credentialAtomicQueryMTPV2OnChain.cpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/credentialAtomicQueryMTPV2OnChain.dat
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/fr.asm
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/fr.cpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/fr.hpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/main.cpp
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_cpp/Makefile
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_js/generate_witness.js
src/testdata/credentialAtomicQueryMTPV2OnChain/credentialAtomicQueryMTPV2OnChain_js/witness_calculator.js
src/testdata/credentialAtomicQuerySigV2/circuit_final.zkey
src/testdata/credentialAtomicQuerySigV2/circuit.wasm
src/testdata/credentialAtomicQuerySigV2/verification_key.json
src/testdata/credentialAtomicQuerySigV2/verifier.sol
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/calcwit.cpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/calcwit.hpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/circom.hpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/credentialAtomicQuerySigV2.cpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/credentialAtomicQuerySigV2.dat
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/fr.asm
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/fr.cpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/fr.hpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/main.cpp
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_cpp/Makefile
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_js/generate_witness.js
src/testdata/credentialAtomicQuerySigV2/credentialAtomicQuerySigV2_js/witness_calculator.js
src/testdata/credentialAtomicQuerySigV2OnChain/circuit_final.zkey
src/testdata/credentialAtomicQuerySigV2OnChain/circuit.wasm
src/testdata/credentialAtomicQuerySigV2OnChain/verification_key.json
src/testdata/credentialAtomicQuerySigV2OnChain/verifier.sol
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/calcwit.cpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/calcwit.hpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/circom.hpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/credentialAtomicQuerySigV2OnChain.cpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/credentialAtomicQuerySigV2OnChain.dat
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/fr.asm
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/fr.cpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/fr.hpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/main.cpp
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_cpp/Makefile
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_js/generate_witness.js
src/testdata/credentialAtomicQuerySigV2OnChain/credentialAtomicQuerySigV2OnChain_js/witness_calculator.js
src/testdata/stateTransition/circuit_final.zkey
src/testdata/stateTransition/circuit.wasm
src/testdata/stateTransition/verification_key.json
src/testdata/stateTransition/verifier.sol
src/testdata/stateTransition/stateTransition_cpp/calcwit.cpp
src/testdata/stateTransition/stateTransition_cpp/calcwit.hpp
src/testdata/stateTransition/stateTransition_cpp/circom.hpp
src/testdata/stateTransition/stateTransition_cpp/fr.asm
src/testdata/stateTransition/stateTransition_cpp/fr.cpp
src/testdata/stateTransition/stateTransition_cpp/fr.hpp
src/testdata/stateTransition/stateTransition_cpp/main.cpp
src/testdata/stateTransition/stateTransition_cpp/Makefile
src/testdata/stateTransition/stateTransition_cpp/stateTransition.cpp
src/testdata/stateTransition/stateTransition_cpp/stateTransition.dat
src/testdata/stateTransition/stateTransition_js/generate_witness.js
src/testdata/stateTransition/stateTransition_js/witness_calculator.js
src/testdata/sybilCredentialAtomicMTP/circuit_final.zkey
src/testdata/sybilCredentialAtomicMTP/circuit.wasm
src/testdata/sybilCredentialAtomicMTP/verification_key.json
src/testdata/sybilCredentialAtomicSig/circuit_final.zkey
src/testdata/sybilCredentialAtomicSig/circuit.wasm
src/testdata/sybilCredentialAtomicSig/verification_key.json
